<h1>Event Info</h1>
<hr/>
<p>
<strong>id:</strong>
<%= @event.id %>
</p>
<p>
<strong>Title:</strong>
<%= @event.title %>
</p>
<p>
<strong>Date:</strong>
<%= @event.date %>
</p>
<p>
<strong>Description:</strong>
</p>
<p>
<%= @event.description %>
</p>
<%= link_to 'View all events', events_path %>
