<h1>User Info</h1>
<hr/>
<p>
id: <%= @user.id %>
</p>
<p>
username: <%= @user.username %>
</p>
<hr/>
<h3>Created Events</h3>
<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user == @user %>
  <%= link_to 'Create new event', events_new_path, class: 'btn btn-primary' %>
<% end %>

<br/>
<br/>

<h3>Attending Events</h3>
<table class='table'>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @user.attended_events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
